@model IEnumerable<EventuresApp.Areas.Event.Models.eventInfoDtoOutput>

@{
    ViewData["Title"] = "All Events";
    int i = 0;

}
<center>
    <div>
        <h2>All Events</h2>
        <hr class="ev-bg hr-th2px" />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
               @foreach (var evnt in Model)
               {
                    <tr>
                        <th scope="row">@(i++)</th>
                        <td>@evnt.Name</td>
                        <td>@evnt.Start.ToString("dd MMM yyyy hh:mm:ss", CultureInfo.InvariantCulture)</td>
                        <td>@evnt.End.ToString("dd MMM yyyy hh:mm:ss", CultureInfo.InvariantCulture)</td>
                        <td>
                            <form class="form-inline" method="post" asp-area="" asp-controller="Orders" asp-action="Order">
                                <div class=" form-group container-fluid">
                                    <input type="hidden" name="EventId" value="@evnt.Id">
                                    <input type="hidden" name="EventName" value="@evnt.Name">
                                    <label for="tickets@(i)" class="font-weight-bold mr-3">Tickets</label>
                                    <input type="number" class="form-control w-50 mr-3" id="tickets@(i)" name="TicketsCount" step="1" placeholder="Number..." min="1" max="2147483647" required>
                                    <button type="submit" class="btn ev-bg">Order</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div id="paginator">
                @Html.PagedListPager((IPagedList)Model, p => Url.Action("All","Events",  new { pageNumber = p}),
               new  X.PagedList.Mvc.Core.Common.PagedListRenderOptions
         {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
         })
         </div>

        @if (TempData.ContainsKey("Purchase"))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Successfull Order!</strong> @TempData["Purchase"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData.ContainsKey("FailedPurchase"))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Failed Order!</strong> @TempData["FailedPurchase"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }


    </div>
</center>