@model EventuresApp.Areas.Event.Models.eventInfoDtoOutput[]

@{
    ViewData["Title"] = "All Events";
}
<center>
    <div>
        <h2>All Events</h2>
        <hr class="ev-bg hr-th2px" />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Length; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Start.ToString("dd MMM yyyy hh:mm:ss", CultureInfo.InvariantCulture)</td>
                        <td>@Model[i].End.ToString("dd MMM yyyy hh:mm:ss", CultureInfo.InvariantCulture)</td>
                        <td>
                            <form class="form-inline" method="post" asp-area="" asp-controller="Orders" asp-action="Order">
                                <div class="form-group">
                                    <label for="tickets" class="font-weight-bold mr-3">Tickets</label>
                                    <input type="number" class="form-control w-50 mr-3" id="tickets" name="TicketsCount" step="1" placeholder="Number..." min="1" required>
                                    <input type="hidden" name="EventId" value="@Model[i].Id">
                                    <input type="hidden" name="EventName" value="@Model[i].Name">
                                    <button type="submit" class="btn ev-bg">Order</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (TempData.ContainsKey("Purchase"))
        {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Successfull Order!</strong> @TempData["Purchase"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        }


    </div>
</center>